[project]
name = "old-vercel"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "click>=8.3.1",
    "dotenv>=0.9.9",
    "openai-agents>=0.6.4",
]
